/* --------------------- fonts --------------------- */

.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
/* --------------------- root settings --------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none; color: #f9f9f9;}

/* --------------------- global animations --------------------- */

@keyframes rotate-close-icon-open {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* --------------------- global classes --------------------- */

.shopping-bag{position: relative;}

.shopping-bag .goods-count{
    position: absolute;
    padding: 0px 5px;
    height: 14px;
    width: 15px;
    bottom: -6px;
    right: -3px;
    line-height: 16px;
    font-size: 10px;
    background-color: #b4bb6bee;
    color: #f9f9f9;
    border-radius: 50%;
}

.logo-close {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 48px 24px 0;
    align-items: center;
}

.close {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #96999f;
    font: 1.1em "Quattrocento Sans";
    cursor: pointer;
}

.close svg {transition: rotate .5s ease; border-radius: 3px;}

.close:hover svg {rotate: 180deg !important;}

.white-space{
    position: fixed;
    display: none;
    left: 0;
    top:0;
    height: 100vh;
    width: 100%;
    background: #f9f9f924;
    z-index: 500;
}

/* --------------------- media queries --------------------- */

@media screen and (max-width: 1450px) {
 
    nav#wide-screen > .left-column > ul.container > .item {padding: 15px 0 15px 21px !important;}

}

@media screen and (max-width: 1329px) {
 
    nav#wide-screen {padding: 16px 24px !important;}

    nav#wide-screen > .left-column > ul.container {display: none;}

    nav#wide-screen > .left-column > .shopping-bag{display: block !important;} 

    nav#wide-screen .search-bar {min-height: 45vh !important;}

    nav#wide-screen .search-bar form{
        min-width: 864px !important; 
        width: 70%; 
        margin: auto !important;
    }

    nav#wide-screen .search-bar form input{font-size: 1.5em !important;}

    nav#wide-screen > .right-column > .shopping-bag{display: none;} 

    nav#wide-screen > .left-column .hamburger-menu{display: block !important;}

}

@media screen and (max-width: 1022px) {

    nav#wide-screen .search-bar {min-height: 40vh !important; padding: 25px 40px 10px !important;}

    nav#wide-screen .search-bar form{min-width: 90% !important; margin: auto !important;}
    nav#wide-screen .search-bar svg {
        width: 30px !important;
        height: 30px !important;
    }

    nav#mobile-screen > .left-column {width: 60% !important; padding: 93px 1.5rem 0 !important;}

    nav#mobile-screen > .left-column > ul.container > .item:first-child > .link{padding-top: 5px;}

    nav#mobile-screen > .left-column .social-media{padding: 1.5rem 0 !important;}

    nav#mobile-screen > .right-column {width: 40% !important;}

    .logo-close:not(.search-bar .logo-close) {padding: 1.5rem 2rem 0 !important;}

}

@media screen and (max-width: 768px) {

    nav#wide-screen > .left-column {display: none !important;}
    
    nav#wide-screen > .center-column {width: 50% !important; justify-content: flex-start !important;}

    nav#wide-screen > .right-column {width: 50% !important; gap: 16px !important;}

    nav#wide-screen > .right-column .hamburger-menu{display: block !important;}

    nav#wide-screen > .right-column .shopping-bag{display: block !important;}

    nav#wide-screen > .right-column .contact-us{display: none !important;}
    
    nav#mobile-screen {display: block !important;}

    nav#mobile-screen > .left-column {
        width: 100% !important;
        justify-content: flex-start !important;
        padding-left: 1.2rem !important;
    }

    nav#mobile-screen > .left-column > ul.container{padding: calc(13vh - 40px) 0 0 !important;}

    nav#mobile-screen > .left-column > ul.container > .item {font-size: 1.75rem !important;}

    nav#mobile-screen > .left-column > ul.container > .item > .link{
        width: 135px !important;
        padding: 13px 0 0px !important;
    }

    nav#mobile-screen > .left-column .sub-menu .sub-link:not(.sub-link-dropdown){padding: 8px 12px 8px !important;}

    nav#mobile-screen > .right-column {display: none !important;}

}

@media screen and (max-width: 600px) {

    nav#mobile-screen > .left-column > ul.container > .item {font-size: 1.5rem !important;}

    nav#mobile-screen > .left-column .item > .link > svg {
        width: 20px !important;
        height: 20px !important;
    }    

    nav#mobile-screen > .left-column > ul.container > .item > .link {width: 120px !important;}

}

@media screen and (max-width: 480px) {

    .close-text {display: none;}

    .logo-close {padding: 1rem 1rem 0 !important;}

    .logo-close .logo {width: 130px !important;}

    .logo-close .logo img{width: 100% !important;}

    nav#wide-screen {padding: 16px 16px !important;}

    nav#wide-screen .center-column .logo img{width: 100%;}
    
    nav#wide-screen .search-bar {min-height: 25vh !important; padding: 10px 10px !important;}

    nav#wide-screen .search-bar .logo-close {padding: 0 !important;}

    nav#wide-screen .search-bar form{margin: 0 !important; width: 100% !important;}

    nav#wide-screen .search-bar form input{font-size: 1.25em !important;}

    nav#mobile-screen > .left-column {padding-top: 65px !important;}

    nav#mobile-screen > .left-column > ul.container > .item > .link {width: auto !important;}   
    
    nav#mobile-screen > .left-column .item > .link > svg {margin-left: 10px;}

}

/* --------------------- header settings --------------------- */

header{
    position: relative;
    height: 100vh;
    background: url("../assets/images/coffee-beans-with-props-making-coffee-min.jpg") no-repeat center; 
    background-size: cover;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000099;
    z-index: 0;
}

/* --------------------- wide screen global settings --------------------- */

nav#wide-screen > .left-column > span, nav#wide-screen > .right-column > span{
    display: flex;
    cursor: pointer;
    max-height: 24px;
}

nav#wide-screen svg{
    width: 24px;
    height: 24px;
    fill: #d8d8d8;
}

nav#wide-screen svg path{stroke: #d8d8d8; stroke-width: 0px;}
nav#wide-screen .shopping-bag path{stroke-width: 1px;}

/* --------------------- wide-screen nav --------------------- */

nav#wide-screen{
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

/* >>>>>>>>>>>>  left column <<<<<<<<<<<< */

nav#wide-screen > .left-column{
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

nav#wide-screen > .left-column > ul.container > .item{
    display: block;
    position: relative;
    font-size: .88rem;
    float: left;
    padding: 15px 15px;
    cursor: pointer;
}

nav#wide-screen > .left-column .link{
    display: block;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05rem;
    position: relative;
}

/* adding underline to the links */
nav#wide-screen > .left-column .link::after, 
nav#wide-screen > .left-column .sub-menu .sub-link .text::after, 
nav#wide-screen > .left-column .child-menu .child-link .text::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #b4bb6b;
    transition: width .2s ease;
}

/* >>>>>>>>>>>>  media query min-width 1330 <<<<<<<<<<<< */

@media screen and (min-width: 1330px) {
 
    nav#wide-screen > .left-column .sub-menu .sub-link .text::after, 
    nav#wide-screen > .left-column .child-menu .child-link .text::after {height: 1px;}
    nav#wide-screen > .left-column .active .link::after, 
    nav#wide-screen > .left-column .sub-menu .sub-link.active > .text:after{width: 100%;}
    
    nav#wide-screen > .left-column .item:hover:not(.active) .link::after, 
    nav#wide-screen > .left-column .sub-menu .sub-link:hover:not(.active) > .text::after,
    nav#wide-screen > .left-column .child-menu .child-link:hover:not(.active) .text::after {width: 100%;}

}

nav#wide-screen > .left-column .sub-menu .sub-link:hover:not(.active) svg{color: #fff;}

nav#wide-screen > .left-column .sub-menu .sub-link:hover:not(.active) > .text, 
nav#wide-screen > .left-column .child-menu .child-link:hover:not(.active) .text {margin-left: 10px; color: #fff;}
nav#wide-screen > .left-column .child-menu .child-link:hover:not(.active) .text {color: #1c1b1b;}

nav#wide-screen > .left-column .sub-menu .active > .text,
nav#wide-screen > .left-column .child-menu .active > .text {
    margin-left: 10px; 
    color: #fff !important;
    display: flex;
    align-items: center;
}
nav#wide-screen > .left-column .child-menu .active > .text {color: #1c1b1b !important; margin-left: 0 !important;}


nav#wide-screen > .left-column .child-menu .active{background-color: #1c1b1b55;}

nav#wide-screen > .left-column .sub-menu, 
nav#wide-screen > .left-column .child-menu {
    position: absolute;
    top: 70px;
    background-color: #373737;
    padding: 14px 0;
    color: #acafad;
    width: 210px;
    border-radius: 2px;
    opacity: 0; /* Initially transparent */
    visibility: hidden; /* Hidden but still occupies space */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth */
}

nav#wide-screen > .left-column .child-menu {
    top:0; 
    left: 218px;
    background-color: #F9F6EF;
    color: #746c60;
}

nav#wide-screen > .left-column .sub-menu .sub-link,
nav#wide-screen > .left-column .child-menu .child-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 13px 20px;
    color: inherit;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
}

nav#wide-screen > .left-column .sub-menu .sub-link .text,
nav#wide-screen > .left-column .child-menu .child-link .text {
    position: relative;
    transition: margin .2s ease;
    color: inherit;
}

nav#wide-screen > .left-column .sub-menu .sub-link svg{margin-left: 20px;}

@keyframes sub-menu-slide-left-to-right {
    from {left: 200px;}
    to {left:218px;}
}

.sub-menu-slide-left-to-right {animation: sub-menu-slide-left-to-right .5s ease;}

/* classes to show or hide mav sub-menu and child-menu */
.show-opacity-visible{opacity: 1 !important; visibility: visible !important;}
.hide-opacity-visible{opacity: 0 !important; visibility: hidden !important;}

nav#wide-screen > .left-column > .hamburger-menu{display: none;}

nav#wide-screen > .left-column > .shopping-bag{display: none;} 

/* >>>>>>>>>>>>  center column <<<<<<<<<<<< */

nav#wide-screen > .center-column{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

nav#wide-screen > .center-column .logo{width: 186px;}

/* >>>>>>>>>>>>  right column <<<<<<<<<<<< */

nav#wide-screen > .right-column{
    display: flex;
    width: 40%;
    justify-content: end;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

nav#wide-screen > .right-column .hamburger-menu{display: none;}

/* --------------------- search bar --------------------- */

nav#wide-screen .search-bar{
    position: fixed;
    top: -50vh;
    left: 0;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 80px;
    background-color: #F9F6EF;
    font-size: 1rem;
    z-index: 1000;
    opacity: 0;
    transition: top .8s ease;
}

nav#wide-screen .search-bar svg{
    width: 35px;
    height: 35px;
    fill: #2222229e;
}

nav#wide-screen .search-bar .logo-close{position: relative; padding: 0;}

nav#wide-screen .search-bar form{
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
    min-width: 1169px;
    margin: auto;
}

nav#wide-screen .search-bar form::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #c4c4c49e;
}

nav#wide-screen .search-bar input{
    width: 100%;
    height: 96px;
    background-color: transparent;
    font-size: 2em;
    font-weight: 100;
    padding-right: 50px;
    color: #2222229e;
    border: 0;
    outline: 0;
}

nav#wide-screen .search-bar button{
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
}

/* --------------------- mobile screen nav --------------------- */

nav#mobile-screen {
    position: absolute;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100vh;
    top: -100vh;
    background-color: #222222;
    transition: top .8s ease;
    z-index: 1000;
    overflow: hidden;
}

/* >>>>>>>>>>>>  left column <<<<<<<<<<<< */

nav#mobile-screen > .left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 70%;
    padding-top: 113px;
    padding: 113px 1.5rem 0;
}

nav#mobile-screen > .left-column > ul.container {
    height: 50vh;
    padding: calc(16vh - 40px) 0 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    animation-duration: 1.3s;
}
/* Chrome */
nav#mobile-screen > .left-column > ul.container::-webkit-scrollbar {overflow: hidden;} 

nav#mobile-screen > .left-column > ul.container > .item {display: block; width: fit-content; font-size: 1.88rem;}

nav#mobile-screen > .left-column > ul.container > .item > .link{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
    font-family: "Cormorant Garamond";
    font-weight: 500;
    color: #999;
    fill: #999;
    letter-spacing: 0.05rem;
    padding: 20px 0 0px;
    cursor: pointer;
    transition: all .3s ease;
}

nav#mobile-screen > .left-column .item > .link > svg {width: 25px; height: 25px;}

nav#mobile-screen > .left-column > ul.container > .item > .link:not(.default-active):hover{color: #f9f9f9; fill: #f9f9f9;}
nav#mobile-screen > .left-column > ul.container > .item > .link.default-active, nav#mobile-screen > .left-column > ul.container > .item > .link.active-link{color: #f9f9f9; fill: #f9f9f9;}

nav#mobile-screen > .left-column .sub-menu {
    display: none;
    width: fit-content;
    font-size: .67em;
}

nav#mobile-screen > .left-column .sub-menu .sub-link:not(.sub-link-dropdown), 
nav#mobile-screen > .left-column .sub-menu .sub-link > .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    color: #999;
    fill: #999;
    font-family: "Quattrocento Sans";
    padding: 12px 0 12px 20px;
    transition: all .3s ease;
}
nav#mobile-screen > .left-column .sub-menu .sub-link > .text {padding: 8px 0 8px 20px;}

nav#mobile-screen > .left-column .sub-menu .sub-link:not(.sub-link-dropdown):first-child {padding-top: 30px !important;}
nav#mobile-screen > .left-column .sub-menu .sub-link:not(.sub-link-dropdown):last-child {padding-bottom: 10px;}

nav#mobile-screen > .left-column .sub-menu .sub-link-dropdown:first-child .text {padding-top: 30px;}
nav#mobile-screen > .left-column .sub-menu .child-menu .child-link:last-child {padding-bottom: 20px;}

nav#mobile-screen > .left-column .sub-menu .sub-link .text > svg {width: 25px; height: 25px;}

nav#mobile-screen > .left-column .sub-menu .sub-link:not(.default-active):hover, 
nav#mobile-screen > .left-column .sub-menu .sub-link .text:not(.default-active):hover,
nav#mobile-screen > .left-column .sub-menu .child-menu .child-link:not(.default-active):hover {color: #f9f9f9; fill: #f9f9f9;}

nav#mobile-screen > .left-column .sub-menu .sub-link.default-active, 
nav#mobile-screen > .left-column .sub-menu .sub-link.active-link, 
nav#mobile-screen > .left-column .sub-menu .sub-link .text.default-active,
nav#mobile-screen > .left-column .sub-menu .sub-link .text.active-link,
nav#mobile-screen > .left-column .child-menu .child-link.default-active,
nav#mobile-screen > .left-column .child-menu .child-link.active-link {color: #f9f9f9 !important; fill: #f9f9f9;}

nav#mobile-screen > .left-column .sub-menu .child-menu{
    display: none;
    font-family: "Quattrocento Sans";
    font-size: .94em;
}

nav#mobile-screen > .left-column .sub-menu .child-menu .child-link{
    display: block;
    color: #999; 
    fill: #999;
    padding: 12px 0 4px 47px;
    transition: all .3s ease;
}

nav#mobile-screen > .left-column .social-media{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #474646;
    padding: 2rem 0;
    animation-duration: 1.8s;
}

nav#mobile-screen > .left-column .social-media svg{
    width: 18px;
    height: fit-content;
}

nav#mobile-screen > .left-column .social-media .link{width: 2.4rem; padding-bottom: .5rem;}

nav#mobile-screen > .left-column .social-media .link path{transition: all .2s ease;}

nav#mobile-screen > .left-column .social-media .link:hover .facebook g{fill: #3b5998}
nav#mobile-screen > .left-column .social-media .link:hover .x path,
nav#mobile-screen > .left-column .social-media a:hover .x svg{stroke: #777; fill: #777;}
nav#mobile-screen > .left-column .social-media .link:hover .dribble path,
nav#mobile-screen > .left-column .social-media a:hover .dribble svg{stroke: #d04c7e ;fill: #d04c7e;}
nav#mobile-screen > .left-column .social-media .link:hover .instagram path,
nav#mobile-screen > .left-column .social-media a:hover .instagram svg{stroke: #bd5dce ;fill: #bd5dce;}


/* >>>>>>>>>>>>  right column <<<<<<<<<<<< */

nav#mobile-screen > .right-column {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    min-height: 100vh;
    width: 30%;
    padding: 113px 3rem 0;
}

nav#mobile-screen > .right-column > .contact-us{
    height: 50vh;
    padding: calc(16vh - 40px) 0 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Chrome */
nav#mobile-screen > .right-column > .contact-us::-webkit-scrollbar {overflow: hidden;} 

nav#mobile-screen > .right-column .item{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #f9f9f9;
}

nav#mobile-screen > .right-column .item .text{
    display: block;
    padding-bottom: 10px;
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(1rem, 1.7vw, 1.1rem);
}

nav#mobile-screen > .right-column .item .link{
    display: inline-flex;
    align-items: center;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: clamp(1.25rem, 2.4vw, 1.5rem);
    position: relative;
}

nav#mobile-screen > .right-column .item .underlined{padding-bottom: 8px;}

nav#mobile-screen > .right-column .item .underlined::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f9f9f9;
    transition: width .6s ease;
}

nav#mobile-screen > .right-column .item .underlined:hover::after{width: 0;}

nav#mobile-screen > .right-column .item .link svg{
    fill: #b4bb6b;
    width: 23px;
    height: 23px;
    margin-left: 15px;
    transition: margin .2s ease;
}

nav#mobile-screen > .right-column .item .link:not(.underlined):hover > svg{margin-left: 25px;}
